@charset "UTF-8";

body {
	background-color: #000;
	color: #FFF;
	font-family: Lucida Grande, Helvetica, Verdana, sans-serif;
}

#container {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #2e3436;
}

#header {
	text-align: center;
}
