@charset "UTF-8";

body {
	background-color: #000;
	color: #FFF;
	font-family: Lucida Grande, Helvetica, Verdana, sans-serif;
}

#container {
	margin-left: 10%;
	margin-right: 10%;
	padding: 2%;
	background-color: #1f1f1f;
}

a {
	color: #ffae00;
}

#header {
	line-height: 1em;
	font-size: 400%;
	text-align: center;
	letter-spacing: 0.5em;
}

#content {
	margin-left: 3%;
	margin-right: 3%;
}
